<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/email.css}"/>
    <title>Send email form</title>
</head>
<body>
<h1>Send your email</h1>
<form action="#" th:action="@{/send-email}" method="post">
    <h2>
        <div th:text="${message}" th:if="${message ne null}"></div>
    </h2>
    <p>Enter first name:
        <input type="text" th:value="${user.firstName}" name="firstName"/>
    </p>
    <p>
        Enter last name: <input type="text" th:value="${user.lastName}" name="lastName"/>
    </p>
    <p>
        Enter subject: <input type="text" th:value="${email.subject}" name="subject"/>
    </p>
    <p>
        Enter your message:
        <textarea rows="5" cols="30"  th:value="${email.message}" name="message"></textarea>
    </p>
    <div>
        <button type="submit" value="Submit" class="sliding-button">Submit</button>
        <button type="reset" value="Reset" class="sliding-button">Reset</button>
        <button onclick="location.href='/home'" type="button" class="sliding-button">Back</button>
    </div>
</form>
</body>
</html>