<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Upload file</title>
    <link rel="stylesheet" th:href="@{/css/upload.css}"/>
</head>
<body>
<div>
    <h1>Upload file</h1>
    <div th:text="${message}" th:if="${message ne null}"></div>
    <form method="post" th:action="@{/upload}" enctype="multipart/form-data">
        <div>
            <input type="file" value="Choose file" name="file" accept=".txt">
        </div>
        <p>
            <button type="submit" class="sliding-button">Upload File</button>
        </p>
        <p>
            <button onclick="location.href='/new-user'" type="button" class="sliding-button">Back</button>
        </p>
    </form>
</div>
</body>
</html>